In [1]:
import keyword

print(keyword.kwlist)
print("total keywords #", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total keywords # 35

In [31]:
def doublenum(n):
    return (n * 2)
    '''
    this is 
    double
    number function
        '''
print( doublenum(10))
print(doublenum.__doc__)

20
None

In [18]:
def double(num):
    """
    function to double the number
    """
    return 2 * num
print(double(1))

2

In [34]:
i=10
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [36]:
i=11
if i==10:
    print("yes it is 10")
else:
    print("not a ten")

not a ten

In [37]:
i= 1+2+3+\
    4+5+6\
    +7+8
print(i)

36

In [39]:
i=(1+2+3+4
  +5+6+7+8)
print(i)

36

In [41]:
i = 49%3
print(i)
i= 49//3
print(i)
i=49/3
print(i)
i=49**3
print(i)

1
16
16.333333333333332
117649

In [45]:
a,b = 1,2
print(a & b)
print(a | b)
#print(a ~ b)

0
3

In [46]:
a=5
a+=10
print(a)

15

In [48]:
a=5
b=5
print(a is b)
a=[1,2,3]
b=[1,2,3]
print(a is b)

True
False

In [53]:
a=[1,2,3]
b=2
print(b in a)
x={1:'z',2:'y',3:'a'}
print(10 in x)

True
False

#this is comment

i=10
i=9
print(id(i))

In [59]:
i=10
i=9
print(id(i))
i=9
print(id(i))

8790820954768
8790820954768

In [67]:
a=1
print(type(a))
a="test"
print(type(b))
a=[1,2,3]
print(type(a))
a={1:'b', 2:'c'}
print(type(a))
a=(1,2,3)
print(type(a))

print(isinstance(a,tuple))

<class 'int'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
False

In [76]:
a= "this is test string"
print(a[0],a[5],a[-1], a[len(a)-1])
print(a[5:])
print(a[:5])
print(a[:-5])

t i g g
is test string
this
this is test s

In [81]:
a = [1,2,3,4,4]
b=(1,2,3,4,4)
print(a[4])
a[4]=5
print(a)

4
[1, 2, 3, 4, 5]
4

TypeError: 'tuple' object does not support item assignment

In [87]:
#sets
s={1,2,3,4,5,6,5,43,2}
print(s,'\t\t\t', type(s))

{1, 2, 3, 4, 5, 6, 43} 			 <class 'set'>

In [90]:
a=(1,2,3,4,5,6,5,3,2)
print(a)
b=set(a)
print(b)

(1, 2, 3, 4, 5, 6, 5, 3, 2)
{1, 2, 3, 4, 5, 6}

In [110]:
a="hello"
b='world'
print("this is format example {} and {}".format(a,b))
print("this is format example {1} and {0}".format("hello","world"))
print("this is format example {main1} and {0}".format("hello",main="world",main1="new"))

this is format example hello and world
this is format example world and hello
this is format example new and hello

In [112]:
num= int(input("enter a number"))
print(2*num)

enter a number100
200